# classify the Size_Categorie using SVM

In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV

In [2]:
forest = pd.read_csv("forestfires.csv")

In [3]:
forest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [4]:
forest.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
forest.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [6]:
forest.corr()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
FFMC,1.000000,0.382619,0.330512,0.531805,0.431532,-0.300995,-0.028485,0.056702,0.040122,0.019306,...,-0.137044,-0.281535,-0.454771,0.031833,-0.040634,-0.074327,-0.037230,-0.088964,-0.005998,0.076609
DMC,0.382619,1.000000,0.682192,0.305128,0.469594,0.073795,-0.105342,0.074790,0.072994,-0.012010,...,-0.176301,-0.317899,-0.105647,-0.001946,-0.050403,-0.407404,-0.081980,-0.074218,-0.187632,0.110907
DC,0.330512,0.682192,1.000000,0.229154,0.496208,-0.039192,-0.203466,0.035861,0.049383,-0.004220,...,-0.105642,-0.399277,-0.115064,-0.100887,-0.186183,-0.650427,-0.114209,-0.078380,0.093279,0.531857
ISI,0.531805,0.305128,0.229154,1.000000,0.394287,-0.132517,0.106826,0.067668,0.008258,0.046695,...,-0.162322,-0.249777,-0.103588,0.020982,0.111516,-0.143520,-0.060493,-0.076559,-0.071154,-0.068877
temp,0.431532,0.469594,0.496208,0.394287,1.000000,-0.527390,-0.227116,0.069491,0.097844,-0.071949,...,-0.329648,-0.320015,-0.146520,0.142588,0.051015,-0.341797,-0.045540,-0.053798,-0.053513,0.088006
RH,-0.300995,0.073795,-0.039192,-0.132517,-0.527390,1.000000,0.069410,0.099751,-0.075519,0.064506,...,-0.047714,0.140430,0.170923,0.013185,0.009382,-0.089836,0.086822,-0.035885,-0.072334,-0.062596
wind,-0.028485,-0.105342,-0.203466,0.106826,-0.227116,0.069410,1.000000,0.061119,0.012317,0.118090,...,0.269702,-0.029431,-0.070245,-0.040645,0.012124,0.181433,0.015054,0.011864,-0.053850,-0.181476
rain,0.056702,0.074790,0.035861,0.067668,0.069491,0.099751,0.061119,1.000000,-0.007366,-0.004261,...,-0.009752,-0.014698,-0.004566,-0.013390,-0.013510,-0.020744,-0.004566,-0.003225,-0.012665,-0.051733
area,0.040122,0.072994,0.049383,0.008258,0.097844,-0.075519,0.012317,-0.007366,1.000000,-0.052911,...,0.001010,-0.020732,-0.012589,0.006149,-0.020314,-0.045596,0.006264,-0.008893,-0.016878,0.056573
dayfri,0.019306,-0.012010,-0.004220,0.046695,-0.071949,0.064506,0.118090,-0.004261,-0.052911,1.000000,...,-0.019140,0.046323,-0.027643,-0.048969,0.006000,0.036205,0.056423,-0.019527,-0.045585,0.107671
daymon,-0.059396,-0.107921,-0.052993,-0.158601,-0.136529,0.009376,-0.063881,-0.029945,-0.021206,-0.181293,...,0.114519,0.003933,-0.025470,-0.013300,0.017553,0.077125,-0.025470,-0.017992,0.060975,0.039632
daysat,-0.019637,-0.003653,-0.035189,-0.038585,0.034899,-0.023869,-0.063799,-0.032271,0.087868,-0.195372,...,-0.058625,0.020406,0.057019,0.060945,-0.022408,0.021024,0.057019,-0.019390,0.017584,-0.032783
daysun,-0.089517,0.025355,-0.001431,-0.003243,0.014403,0.136220,0.027981,-0.017872,-0.020463,-0.210462,...,-0.024966,0.008416,0.050887,-0.018241,0.024540,-0.047726,-0.029568,-0.020887,0.007252,-0.048817
daythu,0.071730,0.087672,0.051859,-0.022406,0.051432,-0.123061,-0.062553,-0.026798,0.020121,-0.162237,...,-0.002838,-0.042278,-0.022793,-0.019300,-0.000195,-0.026885,-0.022793,-0.016101,-0.063223,0.008984
daytue,0.011225,0.000016,0.028368,0.068610,0.035630,-0.014211,0.053396,0.139311,-0.001333,-0.166728,...,-0.005125,-0.014491,-0.023424,0.049688,-0.069308,-0.032351,-0.023424,0.117121,0.005008,-0.028570
daywed,0.093908,0.017939,0.024803,0.125415,0.090580,-0.087508,-0.019965,-0.020744,-0.011452,-0.151487,...,0.002899,-0.035713,-0.021282,-0.008985,0.043422,-0.033917,-0.021282,-0.015034,0.016325,-0.053222
monthapr,-0.117199,-0.197543,-0.268211,-0.106478,-0.157051,0.021235,0.048266,-0.009752,-0.008280,-0.019140,...,-0.017717,-0.026701,-0.008295,-0.034190,-0.024543,-0.045456,-0.008295,-0.005860,-0.023008,-0.093982
monthaug,0.228103,0.497928,0.279361,0.334639,0.351404,0.054761,0.028577,0.093101,-0.004187,-0.100837,...,-0.098941,-0.149116,-0.046323,-0.190937,-0.137065,-0.253859,-0.046323,-0.032724,-0.128493,-0.524858
monthdec,-0.137044,-0.176301,-0.105642,-0.162322,-0.329648,-0.047714,0.269702,-0.009752,0.001010,-0.019140,...,1.000000,-0.026701,-0.008295,-0.034190,-0.024543,-0.045456,-0.008295,-0.005860,-0.023008,-0.093982
monthfeb,-0.281535,-0.317899,-0.399277,-0.249777,-0.320015,0.140430,-0.029431,-0.014698,-0.020732,0.046323,...,-0.026701,1.000000,-0.012501,-0.051528,-0.036989,-0.068508,-0.012501,-0.008831,-0.034676,-0.141642
monthjan,-0.454771,-0.105647,-0.115064,-0.103588,-0.146520,0.170923,-0.070245,-0.004566,-0.012589,-0.027643,...,-0.008295,-0.012501,1.000000,-0.016007,-0.011491,-0.021282,-0.003883,-0.002743,-0.010772,-0.044001
monthjul,0.031833,-0.001946,-0.100887,0.020982,0.142588,0.013185,-0.040645,-0.013390,0.006149,-0.048969,...,-0.034190,-0.051528,-0.016007,1.000000,-0.047363,-0.087722,-0.016007,-0.011308,-0.044402,-0.181367
monthjun,-0.040634,-0.050403,-0.186183,0.111516,0.051015,0.009382,0.012124,-0.013510,-0.020314,0.006000,...,-0.024543,-0.036989,-0.011491,-0.047363,1.000000,-0.062972,-0.011491,-0.008117,-0.031874,-0.130195
monthmar,-0.074327,-0.407404,-0.650427,-0.143520,-0.341797,-0.089836,0.181433,-0.020744,-0.045596,0.036205,...,-0.045456,-0.068508,-0.021282,-0.087722,-0.062972,1.000000,-0.021282,-0.015034,-0.059034,-0.241135
monthmay,-0.037230,-0.081980,-0.114209,-0.060493,-0.045540,0.086822,0.015054,-0.004566,0.006264,0.056423,...,-0.008295,-0.012501,-0.003883,-0.016007,-0.011491,-0.021282,1.000000,-0.002743,-0.010772,-0.044001
monthnov,-0.088964,-0.074218,-0.078380,-0.076559,-0.053798,-0.035885,0.011864,-0.003225,-0.008893,-0.019527,...,-0.005860,-0.008831,-0.002743,-0.011308,-0.008117,-0.015034,-0.002743,1.000000,-0.007610,-0.031083
monthoct,-0.005998,-0.187632,0.093279,-0.071154,-0.053513,-0.072334,-0.053850,-0.012665,-0.016878,-0.045585,...,-0.023008,-0.034676,-0.010772,-0.044402,-0.031874,-0.059034,-0.010772,-0.007610,1.000000,-0.122053
monthsep,0.076609,0.110907,0.531857,-0.068877,0.088006,-0.062596,-0.181476,-0.051733,0.056573,0.107671,...,-0.093982,-0.141642,-0.044001,-0.181367,-0.130195,-0.241135,-0.044001,-0.031083,-0.122053,1.000000

In [7]:
label_encoder = preprocessing.LabelEncoder()

In [8]:
forest["month"] = label_encoder.fit_transform(forest["month"])
forest["day"] = label_encoder.fit_transform(forest["day"])
forest["size_category"] = label_encoder.fit_transform(forest["size_category"])

In [9]:
X = forest.iloc[:,:11]
X

     month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0        7    0  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1       10    5  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2       10    2  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3        7    0  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4        7    3  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..     ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512      1    3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513      1    3  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514      1    3  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515      1    2  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516      9    5  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 11 columns]

In [10]:
y=forest["size_category"]
y

0      1
1      1
2      1
3      1
4      1
      ..
512    0
513    0
514    0
515    1
516    1
Name: size_category, Length: 517, dtype: int32

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((361, 11), (361,), (156, 11), (156,))

In [12]:
model = SVC()

model.fit(X_train, y_train)

SVC()

In [13]:
y_pred = model.predict(X_test)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])

In [14]:
print(confusion_matrix(y_test, y_pred))

[[  3  34]
 [  0 119]]

In [15]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.08      0.15        37
           1       0.78      1.00      0.88       119

    accuracy                           0.78       156
   macro avg       0.89      0.54      0.51       156
weighted avg       0.83      0.78      0.70       156

Model is not predicting well, so we will improve the model by hyperparameter tunning using grid search method.

In [16]:
param_grid = {'C' : [0.1, 1, 10, 100, 1000], 'gamma' : [1, 0.1, 0.01, 0.001, 0.0001], 'kernel' : ['rbf']}
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,  cv = 5)

In [17]:
grid.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.740 total time=   0.0s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.708 total time=   0.0s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.764 total time=   0.0s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.726 total time=   0.0s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.750 total time=   0.0s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.764 total time=   0.0s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.833 total time=   0.0s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.806 total time=   0.0s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.795 total time=   0.0s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.764 total time=   0.0s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.819 total time=   0.0s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.833 total time=   0.0s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.778 total time=   0.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.753 total time=   0.0s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.750 total time=   0.0s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.778 total time=   0.0s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.781 total time=   0.0s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.819 total time=   0.0s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.778 total time=   0.0s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.889 total time=   0.0s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.875 total time=   0.0s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.877 total time=   0.0s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.931 total time=   0.0s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.931 total time=   0.0s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.861 total time=   0.0s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.753 total time=   0.0s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.750 total time=   0.0s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.778 total time=   0.0s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.795 total time=   0.0s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.861 total time=   0.0s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.889 total time=   0.0s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.875 total time=   0.0s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.890 total time=   0.0s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.903 total time=   0.0s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.889 total time=   0.0s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.958 total time=   0.0s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.931 total time=   0.0s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.712 total time=   0.0s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.722 total time=   0.0s

[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.708 total time=   0.0s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.753 total time=   0.0s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.750 total time=   0.0s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.722 total time=   0.0s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.778 total time=   0.0s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.795 total time=   0.0s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.861 total time=   0.0s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.889 total time=   0.0s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.875 total time=   0.0s
[CV 1/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.877 total time=   0.0s
[CV 2/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.875 total time=   0.0s
[CV 3/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.889 total time=   0.0s
[CV 4/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.944 total time=   0.0s
[CV 5/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.903 total time=   0.0s

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [18]:
grid.best_params_

{'C': 100, 'gamma': 0.0001, 'kernel': 'rbf'}

In [19]:
grid.best_estimator_

SVC(C=100, gamma=0.0001)

In [20]:
grid_pred = grid.predict(X_test)

In [21]:
grid_pred

array([1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1])

In [22]:
print(confusion_matrix(y_test, grid_pred))

[[ 34   3]
 [  2 117]]

In [23]:
print(classification_report(y_test, grid_pred))

              precision    recall  f1-score   support

           0       0.94      0.92      0.93        37
           1       0.97      0.98      0.98       119

    accuracy                           0.97       156
   macro avg       0.96      0.95      0.96       156
weighted avg       0.97      0.97      0.97       156

# Prepare a classification model using SVM for salary data

In [24]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV

In [25]:
train = pd.read_csv('SalaryData_Train(1).csv')
train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [26]:
test = pd.read_csv('SalaryData_Test(1).csv')
test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [27]:
test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [28]:
train.shape

(30161, 14)

In [29]:
test.shape

(15060, 14)

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [31]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [32]:
train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [33]:
test.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [34]:
train.corr()

                   age  educationno  capitalgain  capitalloss  hoursperweek
age           1.000000     0.043525     0.080152     0.060278      0.101598
educationno   0.043525     1.000000     0.124416     0.079691      0.152522
capitalgain   0.080152     0.124416     1.000000    -0.032218      0.080431
capitalloss   0.060278     0.079691    -0.032218     1.000000      0.052454
hoursperweek  0.101598     0.152522     0.080431     0.052454      1.000000

In [35]:
test.corr()

                   age  educationno  capitalgain  capitalloss  hoursperweek
age           1.000000     0.026123     0.078760     0.057745      0.102758
educationno   0.026123     1.000000     0.131750     0.085817      0.133691
capitalgain   0.078760     0.131750     1.000000    -0.031876      0.090501
capitalloss   0.057745     0.085817    -0.031876     1.000000      0.057712
hoursperweek  0.102758     0.133691     0.090501     0.057712      1.000000

In [36]:
lb = LabelEncoder()

In [37]:
train["workclass"] = lb.fit_transform(train["workclass"])
train["education"] = lb.fit_transform(train["education"])
train["maritalstatus"] = lb.fit_transform(train["maritalstatus"])
train["occupation"] = lb.fit_transform(train["occupation"])
train["relationship"] = lb.fit_transform(train["relationship"])
train["race"] = lb.fit_transform(train["race"])
train["sex"] = lb.fit_transform(train["sex"])
train["native"] = lb.fit_transform(train["native"])
train["Salary"] = lb.fit_transform(train["Salary"])

In [38]:
test["workclass"] = lb.fit_transform(test["workclass"])
test["education"] = lb.fit_transform(test["education"])
test["maritalstatus"] = lb.fit_transform(test["maritalstatus"])
test["occupation"] = lb.fit_transform(test["occupation"])
test["relationship"] = lb.fit_transform(test["relationship"])
test["race"] = lb.fit_transform(test["race"])
test["sex"] = lb.fit_transform(test["sex"])
test["native"] = lb.fit_transform(test["native"])
test["Salary"] = lb.fit_transform(test["Salary"])

In [39]:
train = train.iloc[: 7000, :]
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            7000 non-null   int64
 1   workclass      7000 non-null   int32
 2   education      7000 non-null   int32
 3   educationno    7000 non-null   int64
 4   maritalstatus  7000 non-null   int32
 5   occupation     7000 non-null   int32
 6   relationship   7000 non-null   int32
 7   race           7000 non-null   int32
 8   sex            7000 non-null   int32
 9   capitalgain    7000 non-null   int64
 10  capitalloss    7000 non-null   int64
 11  hoursperweek   7000 non-null   int64
 12  native         7000 non-null   int32
 13  Salary         7000 non-null   int32
dtypes: int32(9), int64(5)
memory usage: 519.7 KB

In [40]:
test = test.iloc[: 2500, :]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            2500 non-null   int64
 1   workclass      2500 non-null   int32
 2   education      2500 non-null   int32
 3   educationno    2500 non-null   int64
 4   maritalstatus  2500 non-null   int32
 5   occupation     2500 non-null   int32
 6   relationship   2500 non-null   int32
 7   race           2500 non-null   int32
 8   sex            2500 non-null   int32
 9   capitalgain    2500 non-null   int64
 10  capitalloss    2500 non-null   int64
 11  hoursperweek   2500 non-null   int64
 12  native         2500 non-null   int32
 13  Salary         2500 non-null   int32
dtypes: int32(9), int64(5)
memory usage: 185.7 KB

In [41]:
X_train=train.iloc[:,:-1]
X_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,13,4,0,1,4,1,2174,0,40,37
1,50,4,9,13,2,3,0,4,1,0,0,13,37
2,38,2,11,9,0,5,1,4,1,0,0,40,37
3,53,2,1,7,2,5,0,2,1,0,0,40,37
4,28,2,9,13,2,9,5,2,0,0,0,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,28,2,15,10,2,5,0,2,1,0,0,40,24
6996,19,2,11,9,4,0,3,4,0,0,0,25,37
6997,18,2,1,7,4,0,3,2,1,0,0,20,37
6998,39,2,11,9,4,11,1,4,1,0,0,55,37
6999,60,4,9,13,0,9,1,4,0,0,0,30,37

In [42]:
y_train=train.iloc[:,-1]
y_train

0       0
1       0
2       0
3       0
4       0
       ..
6995    0
6996    0
6997    0
6998    0
6999    0
Name: Salary, Length: 7000, dtype: int32

In [43]:
X_test=test.iloc[:,:-1]
X_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,37,2,11,9,5,2,4,4,0,0,0,42,37
2496,36,2,9,13,2,3,0,4,1,0,1887,40,37
2497,31,2,5,4,2,4,2,4,1,0,0,35,24
2498,23,2,15,10,4,11,1,2,0,0,0,30,37
2499,44,5,11,9,2,10,0,4,1,0,0,40,37

In [44]:
y_test = test.iloc[:,-1]
y_test

0       0
1       0
2       1
3       1
4       0
       ..
2495    0
2496    1
2497    0
2498    0
2499    1
Name: Salary, Length: 2500, dtype: int32

In [45]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((7000, 13), (7000,), (2500, 13), (2500,))

In [46]:
model = SVC()

model.fit(X_train, y_train)

SVC()

In [47]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [48]:
print(confusion_matrix(y_test, y_pred))

[[1813   60]
 [ 448  179]]

In [49]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.97      0.88      1873
           1       0.75      0.29      0.41       627

    accuracy                           0.80      2500
   macro avg       0.78      0.63      0.65      2500
weighted avg       0.79      0.80      0.76      2500

In [50]:
param_grid = {'C' : [1, 5, 10, 15, 20], 'gamma' : [1, 0.1, 0.01, 0.001, 0.0001], 'kernel' : ['rbf']}
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,  cv = 5)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.748 total time=   3.1s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.755 total time=   3.2s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.750 total time=   3.4s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.750 total time=   3.3s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.754 total time=   3.2s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.756 total time=   2.5s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.761 total time=   2.3s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.770 total time=   2.3s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.759 total time=   2.4s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.770 total time=   2.4s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.816 total time=   1.6s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.828 total time=   1.4s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.841 total time=   1.4s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.824 total time=   1.4s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.831 total time=   1.4s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.819 total time=   1.1s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.829 total time=   1.0s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.824 total time=   1.1s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.824 total time=   1.1s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.824 total time=   1.1s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.813 total time=   0.9s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.825 total time=   0.9s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.814 total time=   1.0s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.819 total time=   0.9s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.821 total time=   1.0s
[CV 1/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.745 total time=   3.1s
[CV 2/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.760 total time=   3.1s
[CV 3/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.759 total time=   3.1s
[CV 4/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.748 total time=   3.3s
[CV 5/5] END ..........C=5, gamma=1, kernel=rbf;, score=0.757 total time=   3.3s
[CV 1/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.756 total time=   2.8s
[CV 2/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.750 total time=   2.9s
[CV 3/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.762 total time=   2.7s
[CV 4/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.756 total time=   2.7s
[CV 5/5] END ........C=5, gamma=0.1, kernel=rbf;, score=0.769 total time=   3.0s
[CV 1/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.829 total time=   1.6s
[CV 2/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.829 total time=   1.5s
[CV 3/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.839 total time=   1.4s
[CV 4/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.828 total time=   1.6s
[CV 5/5] END .......C=5, gamma=0.01, kernel=rbf;, score=0.831 total time=   1.5s
[CV 1/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.832 total time=   1.1s
[CV 2/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.838 total time=   1.1s
[CV 3/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.839 total time=   1.1s
[CV 4/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.839 total time=   1.1s
[CV 5/5] END ......C=5, gamma=0.001, kernel=rbf;, score=0.836 total time=   1.1s
[CV 1/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.816 total time=   1.0s
[CV 2/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.828 total time=   1.1s
[CV 3/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.820 total time=   1.0s
[CV 4/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.824 total time=   1.1s
[CV 5/5] END .....C=5, gamma=0.0001, kernel=rbf;, score=0.823 total time=   0.9s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.745 total time=   3.1s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.760 total time=   3.3s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.759 total time=   3.1s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.748 total time=   3.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.757 total time=   3.1s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.753 total time=   2.8s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.752 total time=   2.5s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.755 total time=   2.4s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.754 total time=   2.8s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.768 total time=   2.5s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.830 total time=   1.5s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.824 total time=   1.5s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.836 total time=   1.6s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.818 total time=   1.5s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.836 total time=   1.8s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.832 total time=   1.3s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.839 total time=   1.3s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.843 total time=   1.4s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.846 total time=   1.5s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.840 total time=   1.3s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.816 total time=   1.1s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.828 total time=   1.0s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.821 total time=   1.1s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.824 total time=   1.0s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.824 total time=   1.0s
[CV 1/5] END .........C=15, gamma=1, kernel=rbf;, score=0.745 total time=   3.5s
[CV 2/5] END .........C=15, gamma=1, kernel=rbf;, score=0.760 total time=   3.1s
[CV 3/5] END .........C=15, gamma=1, kernel=rbf;, score=0.759 total time=   3.1s
[CV 4/5] END .........C=15, gamma=1, kernel=rbf;, score=0.748 total time=   3.2s
[CV 5/5] END .........C=15, gamma=1, kernel=rbf;, score=0.757 total time=   3.2s
[CV 1/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.751 total time=   2.8s
[CV 2/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.749 total time=   3.1s
[CV 3/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.755 total time=   2.8s
[CV 4/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.754 total time=   2.5s
[CV 5/5] END .......C=15, gamma=0.1, kernel=rbf;, score=0.766 total time=   3.1s
[CV 1/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.829 total time=   1.6s
[CV 2/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.825 total time=   1.7s
[CV 3/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.836 total time=   1.6s
[CV 4/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.818 total time=   1.7s
[CV 5/5] END ......C=15, gamma=0.01, kernel=rbf;, score=0.839 total time=   1.6s
[CV 1/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.832 total time=   1.2s
[CV 2/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.839 total time=   1.2s
[CV 3/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.844 total time=   1.1s
[CV 4/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.846 total time=   1.2s
[CV 5/5] END .....C=15, gamma=0.001, kernel=rbf;, score=0.843 total time=   1.2s
[CV 1/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.818 total time=   0.9s
[CV 2/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.828 total time=   1.0s
[CV 3/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.821 total time=   1.0s
[CV 4/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.824 total time=   1.0s
[CV 5/5] END ....C=15, gamma=0.0001, kernel=rbf;, score=0.824 total time=   1.0s
[CV 1/5] END .........C=20, gamma=1, kernel=rbf;, score=0.745 total time=   3.4s

[CV 2/5] END .........C=20, gamma=1, kernel=rbf;, score=0.760 total time=   3.3s
[CV 3/5] END .........C=20, gamma=1, kernel=rbf;, score=0.759 total time=   3.3s
[CV 4/5] END .........C=20, gamma=1, kernel=rbf;, score=0.748 total time=   3.1s
[CV 5/5] END .........C=20, gamma=1, kernel=rbf;, score=0.757 total time=   3.0s
[CV 1/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.752 total time=   2.8s
[CV 2/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.749 total time=   2.9s
[CV 3/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.754 total time=   2.4s
[CV 4/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.751 total time=   3.3s
[CV 5/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.763 total time=   2.5s
[CV 1/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.826 total time=   1.6s
[CV 2/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.826 total time=   1.7s
[CV 3/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.832 total time=   1.6s
[CV 4/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.820 total time=   1.7s
[CV 5/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.834 total time=   1.7s
[CV 1/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.834 total time=   1.1s
[CV 2/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.838 total time=   1.2s
[CV 3/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.846 total time=   1.2s
[CV 4/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.846 total time=   1.2s
[CV 5/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.844 total time=   1.1s
[CV 1/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.817 total time=   1.0s
[CV 2/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.828 total time=   0.9s
[CV 3/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.821 total time=   1.0s
[CV 4/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.823 total time=   1.0s
[CV 5/5] END ....C=20, gamma=0.0001, kernel=rbf;, score=0.825 total time=   1.0s

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 5, 10, 15, 20],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [51]:
grid.best_params_

{'C': 20, 'gamma': 0.001, 'kernel': 'rbf'}

In [52]:
grid_pred = grid.predict(X_test)

In [53]:
grid_pred

array([0, 0, 0, ..., 0, 0, 0])

In [54]:
print(confusion_matrix(y_test, grid_pred))

[[1807   66]
 [ 326  301]]

In [55]:
print(classification_report(y_test, grid_pred))

              precision    recall  f1-score   support

           0       0.85      0.96      0.90      1873
           1       0.82      0.48      0.61       627

    accuracy                           0.84      2500
   macro avg       0.83      0.72      0.75      2500
weighted avg       0.84      0.84      0.83      2500