     TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [4]:
Phillippines=df['Phillippines'].value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
Indonesia=df['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
Malta=df['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
India=df['India'].value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
chiStats[0], chiStats[1]

(3.858960685820355, 0.2771020991233135)

In [9]:
if chiStats[1]>0.05:
  print('Null hypothesis cannot be rejected')
else:
  print('Reject null hypothesis')

Null hypothesis cannot be rejected

Defective % across the center is same and Null Hypothesis cannot be rejected.